.layout {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  header {
    height: 0;
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 99;
    .nav-bar {
      background: linear-gradient(0deg, #2E5AA8, #34A7D2);
      .am-navbar-title {
        color: #fff;
        font-size: 16px;
      }
    }
    .icon-question,
    .icon-right-arrow {
      font-size: 25px;
      color: #fff;
    }
    .icon-right-arrow {
      transform: rotate(180deg);
    }
  }
  main {
    display: flex;
		flex: 1; 
		// overflow: hidden;
    // align-items: center;
    // justify-content: center;
    // font-size: 30px;
    flex-direction: column;
    .component-content>div {
      min-height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  footer {
    height: 50px;
    display: flex;
    color: #e0c6c6;
    align-items: center;
    justify-content: center;
  }
}